.projectDetails-head h1 {
  color: #616262;
  text-align: center;
  font-size: 50px;
  font-weight: 600;
}

.big-image {
  /* height: 250px; */
  /* height: auto; */
  overflow: hidden;
  height: 350px;
  transition: all 0.2s ease-in-out;
  margin-bottom: 2rem;
  border: 2px solid #73b62669;
  border-radius: 1rem;
  box-shadow: 2px 5px 5px 5px rgba(128, 128, 128, 0.091);
  padding: 1rem;
}

.big-image:hover {
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  overflow: hidden;
  padding: 0;
  border: 2px solid #f3fce869;
}

.projectDetails-head h1 span {
  color: #72b626;
}

.projectDetails img {
  width: 100%;
}

.projectDetails a {
  text-decoration: none;
  display: block;
  color: #1f2a10;
  font-weight: 600;
  padding: 5px 0;
  transition: all 0.1s ease-in-out;
}

.projectDetails a span {
  color: #3c4a2c;
  font-weight: 900;
  margin-right: 5px;
  font-size: 1.3rem;
}

.projectDetails a:hover {
  color: #73b626;
}

.small-img {
  max-height: 100px;

  margin-bottom: 15px;
  overflow: hidden;
  cursor: pointer;
}
.small-img img {
  border: 1px solid #73b626cc;
  padding: 0.5rem;
  width: 100%;
  transition: all 0.1s ease-in-out;
  border-radius: 0.5rem;
}

.small-img img:hover {
  border: 1px solid #090a09cd;
}

@media only screen and (max-width: 768px) {
  .projectDetails {
    padding-bottom: 100px;
  }

  .projectDetails-head h1 {
    font-size: 28px;
  }

  .big-image {
    max-height: 150px;
  }
}
